<div class="top-home-container">
  <h1 class='home-title'>A Trusted Organization Development Agency</h1>
  <h3 class="home-subtitle">
    From the AEX and CAC40 to NGO's and international organizations, we build requisite organizations
  </h3>
  <%= link_to 'HOW CAN WE HELP YOU', about_path, class: 'btn button'%>
</div>

<div class="pages-home-content">
  <div class="align-items-content">
    <div class='icon-home-margin'>
      <%= image_tag('Icon-2-home.png') %>
    </div>
    <div class="white-container-home">
      <div class="button-alignment-white">
        <h3>
          Management System
        </h3>
        <p>
          We’ve earned the trust of people in organizations to help them create an effective organization. See how we do it.
        </p>
      </div>
      <div class="button-white-container">
        <%= link_to 'Learn more',  what_path, class: 'btn home-blue-button'%>
      </div>
    </div>
  </div>
  <div class='align-items-content'>
    <div class="icon-home-margin">
      <%= image_tag('Icon-3-home.png') %>
    </div>
    <div class="white-container-home">
      <div class="button-alignment-white">
        <h3>
          Management Practices
        </h3>
        <p>
          We’re recognized for helping managers both with their role relationships and the processes for managing successfully. See what we’ve done
        </p>
      </div>
      <div class="button-white-container">
        <%= link_to 'Learn more',  what_path, class: 'btn home-orange-button'%>
      </div>
    </div>
  </div>
</div>

  <div class="container-title-home grey-container">
    <h3 class='journey-home-title'>The journey</h3>
    <div class='line-under-title'></div>
    <div class="grey-container-text">
      <p>
        You’ve arrived here today because you’re curious about yourself and your organization. You could just have a question about reducing shop floor grievances or organizational decision making. Or you might wonder about a personal decision, or continuous improvement questions. We’ve helped hundreds of people who decided that something needed to change for moving forward with their organization.
      </p>
    </div>
  </div>


<div class="container-title-home">
  <h3 class='journey-home-title'>Taking the time to grasp innovation</h3>
  <div class='line-under-title'></div>
  <div class="grey-container-text">
    <p>
      We’ve helped and coached senior managers establish and implement their organization’s vision, values and culture. The thinking goes beyond slogans and clichés. Once you grasp this creative logic, you’ll recognize that it goes far beyond what you'll find in management books.
      Contact us today to get started.
    </p>
  </div>
</div>

  <div class="container-title-home grey-container">
    <h3 class='journey-home-title'>Requisite Organization</h3>
    <div class='line-under-title'></div>
    <div class="grey-container-text">
      <p>
        Our practices are derived from the work of Dr. Elliott Jaques in his science-based comprehensive management system called Requisite Organization.
      </p>
    </div>
  </div>

<div class="container-title-home">
  <h3 class='journey-home-title'>Blog</h3>
    <p>Sit tight. Here you will soon find the latest news from CaC.</p>
    <div class='line-under-title'></div>
    <div class="grey-container-text">
      <p>
        We are still working on our first post.
      </p>
    </div>
  </div>
</div>

